h4 {  font-family: Arial, Helvetica, sans-serif; font-size: large; font-weight: bolder; color: #FF0000}
h5 {  font-family: Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; color: #000000}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: x-large; font-weight: bolder; color: #993300}

.style2 {font-size: x-large}
.style3 {color: #FF0000;	font-size: x-large;}
.style3a {color: #FF0000;font-size: x-large;	font-weight: bold;}
.style4 {color: #FF3300;}
.style8 {color: #000000;	font-weight: bold;}
.style4 {font-size: small}
.style4a {font-size: xx-large;font-weight: bold;}
.style4b {color: #993366;font-weight: bold;}
.style4c {color: #FFFFFF}
.style5 {font-size: xx-large;color: #FFFFCC}
.style6 {font-size: x-small;color: #FFFF00}
.style6 {color: #FF0000;	font-weight: bold;}
.style7 {color: #FF3300}
.style7 {color: #FFFF66}
.style8 {color: #FF3300}
.style8a {color: #6633FF;font-weight: bold;}
.style9 {color: #FFFF33;	font-weight: bold;}
.style11 {color: #177DAE}
.style12 {font-size: x-large;font-weight: bold;}
.style12a {font-size: x-large;font-weight: bold;	color: #FFFF00;}
.style13 {color: #FF3300}
.style14 {color: #FFFFFF;}
.style15 {color: #FFFF00;font-weight: bold;}
.style17 {color: #FFFFFF; font-weight: bold; }
.style18 {color: #333333}
.style19 {color: #FFFFCC;}
.style19a {color: #663333;}
.style20 {font-size: x-large; font-weight: bold; color: #FFFFCC; }
.style22 {color: #FFCC99;font-weight: bold;}
.style24 {color: #FFCC99; font-weight: bold; font-style: italic; }
.style25 {color: #FF3300}
.style26 {font-size: xx-large;font-weight: bold;}
.style28 {color: #FF6666}
.style27 {color: #FFFF00;font-weight: bold;}
.style28 {color: #FFFFFF;font-style: italic;}
.style30 {color: #E0C7BE}
.style31 {color: #000000}
.style32 {color: #66CCFF}
.style33 {color: #003399;font-weight: bold;font-size: x-large;}
.style34 {color: #663333; font-weight: bold; }
.style36 {font-size: xx-large;font-weight: bold;	color: #FFFFFF;}
.style36a {font-size: xx-large; font-weight: bold; color: #FFFF00; }
.style38 {color: #FFFF00}
.style39 {color: #FFFFFF;font-weight: bold;}
.style40 {color: #FFFFFF;}
.style42 {color: #FFFF00;font-weight: bold;}
.style43 {color: #000000}
.style43a {font-size: small;	font-weight: bold;color: #FFFFFF;}
.style44 {color: #000000; font-weight: bold; }
.style45 {color: #FFFFFF}
.style46 {font-size: xx-large; font-weight: bold; color: #FFFFFF; }
.style47 {color: #FF3300}
.style75 {font-size: x-small; color: #FFFFFF; font-weight: bold; }
.style77 {color: #FFFFFF; font-weight: bold; }
.style78 {color: #000000}
.style79 {color: #FF3300}
.style80 {color: #000000; font-weight: bold; }
.style81 {color: #3333FF;font-weight: bold;}